<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to node-application</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <nav>
        <div class="container">
            <div class="row">
                <div class="col-1-2">
                    <a href="/" class="menu-link">home</a>
                </div>
                <div class="col-1-2 menu">
                    <a href="/generalViews/login" class="menu-link">login</a>
                    <a href="/generalViews/signup" class="menu-link">signup</a>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>