<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
</head>
<body>
    <h1>user login</h1>
    <form method="post">
		email: <input type="email" name="email" value="admin@gmail.com"><br>
		Password: <input type="password" name="password" value="admin"><br>
		<input type="submit" name="" value="Submit"><br>
	</form>
    <a href="/">landing page</a><br>
    <a href="/generalViews/signup">signup</a><br>
</body>
</html>